{
    "listeners": {
        "*:80": {
            "pass": "routes",
            "forwarded": {
                "client_ip": "X-Forwarded-For",
                "protocol": "X-Forwarded-Proto",
                "source": ["0.0.0.0/0"]
            }
        }
    },
    "routes": [
        {
            "match": { "uri": "/media/*" },
            "action": {
                "share": "/home/app/application_api$uri"
            }
        },
        {
            "action": {
                "pass": "applications/aquatogo"
            }
        }
    ],
    "applications": {
        "aquatogo": {
            "type": "python",
            "processes": 4,
            "module": "config.wsgi",
            "path": "/home/app/application_api",
            "home": "/home/app/venv",
            "user": "unit",
            "working_directory": "/home/app/application_api",
            "environment": {
                "HOME": "/home/app/application_api",
                "DJANGO_SETTINGS_MODULE": "config.settings_prod"
            }
        }
    },
    "access_log": {
        "path": "/dev/stdout",
        "format": "$remote_addr - - [$time_local] \"$request_line\" $status $body_bytes_sent \"$header_referer\" \"$header_user_agent\""
    }
}
